/*container do crediário*/
    .container-crediario
    {
        width: 21cm;
        height: 29.7cm;
        color: rgb(25,25,25);
    }


/*espaçamento para picote*/
    .picote-cred-conv
    {
        padding-top: 0.5cm;
        padding-bottom: 0.5cm;
        border-top: 1px dashed rgb(25,25,25);
        border-bottom: 1px dashed rgb(25,25,25);
    }


/*contenção do crediário*/
    .content-cred
    {
        width: 100%;
        border: 1px solid rgb(210,210,210);
    }


/*limitar via cliente*/
    .crediario-via-cliente
    {
        width: 50%;
        overflow: hidden;
    }


/*Limitar via loja*/
    .crediario-via-loja
    {
        width: 50%;
        overflow: hidden;
    }


/*logo da loja*/
    .crediario-logo-loja-td
    {
        width: 70px;
        height: 40px;
        padding-right: 2px;
    }

    .crediario-logo-loja
    {
        width: 70px;
        height: 40px;
        margin: 0 auto;
    }


/*autenticação de carimbo*/
    .crediario-carimbo
    {
        height: 55px;
        text-align: center;
        color: rgb(122, 122, 122);
        border: 1px solid rgb(210,210,210);
    }


/*historico de parcelas*/
    .crediario-historico-parcelas
    {
        margin-top: 0.3cm;
    }


/*nota promissória*/
    .crediario-nota-promissoria
    {
        width: 100%;
        margin-top: 0.3cm;
        border: 1px solid rgb(210,210,210);
    }

    .crediario-nota-promissoria-text
    {
        padding-top: 5px;
        padding-bottom: 5px;
    }


/*convênio/crediario*/
    .assinatura-convenio
    {
        border-top: 1px solid rgb(210,210,210);
        width: 300px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }