/*conf padrão*/
    @font-face
    {
        font-family: "Lato";
        src: url(../fonte/Lato-Medium.ttf);
    }

    body { font-family: Lato, sans-serif; }

    .container { width: 794px; height: 230px; color: rgb(25,25,25); }

    table, tr, td { padding: 0px; margin: 0px; }

    h1, h2, h3, h4, h5, h6 { padding: 0px; margin: 0px; font-weight: normal; }

    p { font-size: 11px; padding: 0px; margin: 0px; }

    span { font-weight: bold; }


    /*bold*/
    .bold-600 { font-weight: 600; }
    .bold-700 { font-weight: 700; }
    .bold-800 { font-weight: 800; }
    .bold-900 { font-weight: 900; }


    /*flutuar*/
    .float-left { float: left; }
    .float-right { float: right; }


    /*alinhamento de testo*/
    .text-align-left { text-align: left; }
    .text-align-center { text-align: center; }
    .text-align-right { text-align: right; }


    /*divisão de conteudo*/
    .linha-divisoria
    {
        padding-bottom: 3px;
        border-bottom: 1px solid rgb(210,210,210);
    }


    /*titulo do relatório*/
    .titulo-relatorio
    {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 5px;
        background-color: rgb(225,225,225);
        text-align: center;
    }


    /*titulo da seção (ex: via cliente)*/
    .titulo-sessao
    {
        text-align: center;
        background-color: rgb(225,225,225);
        padding-top: 4px;
        padding-bottom: 4px;
    }


    /*config tabela*/
    .content-table
    {
        width: 100%;
        margin-top: 8px;
        padding-left: 2px;
        padding-right: 2px;
    }
        .sub-content-table { width: 100%; }


    /*bordas*/
    .box-full { border: 1px solid rgb(210,210,210); }
    .box-top { border-top: 1px solid rgb(210,210,210); }
    .box-bottom { border-bottom: 1px solid rgb(210,210,210); }
    .box-left { border-left: 1px solid rgb(210,210,210); }
    .box-right { border-right: 1px solid rgb(210,210,210); }


    /*paddings*/
    .pfull-01 { padding: 1px;  }
    .pfull-02 { padding: 2px;  }
    .pfull-03 { padding: 3px;  }
    .pfull-04 { padding: 4px;  }
    .pfull-05 { padding: 5px;  }
    .pfull-06 { padding: 6px;  }
    .pfull-07 { padding: 7px;  }
    .pfull-08 { padding: 8px;  }
    .pfull-09 { padding: 9px;  }
    .pfull-10 { padding: 10px; }
    .pfull-15 { padding: 15px; }
    .pfull-20 { padding: 20px; }

    .ptop-01 { padding-top: 1px;  }
    .ptop-02 { padding-top: 2px;  }
    .ptop-03 { padding-top: 3px;  }
    .ptop-04 { padding-top: 4px;  }
    .ptop-05 { padding-top: 5px;  }
    .ptop-06 { padding-top: 6px;  }
    .ptop-07 { padding-top: 7px;  }
    .ptop-08 { padding-top: 8px;  }
    .ptop-09 { padding-top: 9px;  }
    .ptop-10 { padding-top: 10px; }
    .ptop-15 { padding-top: 15px; }
    .ptop-20 { padding-top: 20px; }

    .pbottom-01 { padding-bottom: 1px;  }
    .pbottom-02 { padding-bottom: 2px;  }
    .pbottom-03 { padding-bottom: 3px;  }
    .pbottom-04 { padding-bottom: 4px;  }
    .pbottom-05 { padding-bottom: 5px;  }
    .pbottom-06 { padding-bottom: 6px;  }
    .pbottom-07 { padding-bottom: 7px;  }
    .pbottom-08 { padding-bottom: 8px;  }
    .pbottom-09 { padding-bottom: 9px;  }
    .pbottom-10 { padding-bottom: 10px; }
    .pbottom-15 { padding-bottom: 15px; }
    .pbottom-20 { padding-bottom: 20px; }

    .pleft-01 { padding-left: 1px;  }
    .pleft-02 { padding-left: 2px;  }
    .pleft-03 { padding-left: 3px;  }
    .pleft-04 { padding-left: 4px;  }
    .pleft-05 { padding-left: 5px;  }
    .pleft-06 { padding-left: 6px;  }
    .pleft-07 { padding-left: 7px;  }
    .pleft-08 { padding-left: 8px;  }
    .pleft-09 { padding-left: 9px;  }
    .pleft-10 { padding-left: 10px; }
    .pleft-15 { padding-left: 15px; }
    .pleft-20 { padding-left: 20px; }

    .pright-01 { padding-right: 1px;  }
    .pright-02 { padding-right: 2px;  }
    .pright-03 { padding-right: 3px;  }
    .pright-04 { padding-right: 4px;  }
    .pright-05 { padding-right: 5px;  }
    .pright-06 { padding-right: 6px;  }
    .pright-07 { padding-right: 7px;  }
    .pright-08 { padding-right: 8px;  }
    .pright-09 { padding-right: 9px;  }
    .pright-10 { padding-right: 10px; }
    .pright-15 { padding-right: 15px; }
    .pright-20 { padding-right: 20px; }


    /*margins*/
    .mfull-05 { margin: 5px ;}
    .mfull-1  { margin: 10px;}
    .mfull-15 { margin: 15px;}
    .mfull-2  { margin: 20px;}
    .mfull-25 { margin: 25px;}
    .mfull-3  { margin: 30px;}
    .mfull-35 { margin: 35px;}
    .mfull-4  { margin: 40px;}

    .mtop-05 { margin-top: 5px ; }
    .mtop-1  { margin-top: 10px; }
    .mtop-15 { margin-top: 15px; }
    .mtop-2  { margin-top: 20px; }
    .mtop-25 { margin-top: 25px; }
    .mtop-3  { margin-top: 30px; }
    .mtop-35 { margin-top: 35px; }
    .mtop-4  { margin-top: 40px; }

    .mbootom-05 { margin-bottom: 5px ; }
    .mbootom-1  { margin-bottom: 10px; }
    .mbootom-15 { margin-bottom: 15px; }
    .mbootom-2  { margin-bottom: 20px; }
    .mbootom-25 { margin-bottom: 25px; }
    .mbootom-3  { margin-bottom: 30px; }
    .mbootom-35 { margin-bottom: 35px; }
    .mbootom-4  { margin-bottom: 40px; }

    .mleft-05 { margin-left: 5px ; }
    .mleft-1  { margin-left: 10px; }
    .mleft-15 { margin-left: 15px; }
    .mleft-2  { margin-left: 20px; }
    .mleft-25 { margin-left: 25px; }
    .mleft-3  { margin-left: 30px; }
    .mleft-35 { margin-left: 35px; }
    .mleft-4  { margin-left: 40px; }

    .mright-05 { margin-right: 5px ; }
    .mright-1  { margin-right: 10px; }
    .mright-15 { margin-right: 15px; }
    .mright-2  { margin-right: 20px; }
    .mright-25 { margin-right: 25px; }
    .mright-3  { margin-right: 30px; }
    .mright-35 { margin-right: 35px; }
    .mright-4  { margin-right: 40px; }


    /*descrição/conteudo valor*/
    .desc-valor { width: 80px; text-align: left; }
        .cont-valor { text-align: right; width: 80px; }


    /*descrição/conteudo quantidade*/
    .desc-qtd { width: 30px; text-align: center; }
        .cont-qtd { width: 30px; text-align: center; }


    /*OS datas venda-previsao-entrega*/
    .data { width: 100%; text-align: center; }


    /*campo assinatura*/
    .assinatura
    {
        width: 450px;
        float: right;
        margin-top: 30px;
        text-align: center;
        border-top: 1px solid rgb(210,210,210);
    }

    /*header cliente*/
    .dados-cliente { padding-left: 6px; padding-right: 2px; }



/*prescrição*/
    .prescricao-oe,
    .prescricao-od
    {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 1px solid rgb(210,210,210);
        border-left: 1px solid rgb(210,210,210);
        border-right: 1px solid rgb(210,210,210);
    }

    .prescricao-oe-title,
    .prescricao-od-title
    {
        text-align: center;
        border-bottom: 1px solid rgb(210,210,210);
        border-left: 1px solid rgb(210,210,210);
        border-right: 1px solid rgb(210,210,210);
    }

    .prescricao-title
    {
        text-align: center;
        border-bottom: 1px solid rgb(210,210,210);
    }

    .prescricao-dist
    {
        text-align: left;
        width: 35px;
        border-right: 1px solid rgb(210,210,210);
    }

    .prescricao-dados
    {
        text-align: right;
    }

    /*tipo de óculos*/
    .prescricao-tipo-oculos
    {
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
        padding: 0px;
        text-align: center;
    }


/*contrato*/
    .assinatura-contrato
    {
        text-align: center;
    }

    .assinatura-contrato p
    {
        width: 300px;
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid black;
    }