
.footerpaginacao[data-v-18cde87a] {
    z-index: 2;
}
.Lista[data-v-18cde87a] {
    position: relative;
}
.q-item-sublabel[data-v-18cde87a] {
    margin: 0;
    line-height: 32px;
}
.q-item-main[data-v-18cde87a] {
    flex: 1 1 0 !important;
}
.qListaItems[data-v-18cde87a] {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
.qListaItems[data-v-18cde87a]:hover {
    background: rgba(189, 189, 189, 0.5)
}
#myfooter[data-v-18cde87a] {
    position: fixed !important;
    z-index: 997;
}
#mydrawer aside.q-drawer[data-v-18cde87a] {
    position: fixed;

    bottom: 0 !important;
}
.sidecheckbox[data-v-18cde87a] {
    min-width: 20px;
}
.pointer[data-v-18cde87a] {
    cursor: pointer;
}
.itemLista .buttons[data-v-18cde87a] {
    display: none;
}
.bordered[data-v-18cde87a] {
    border-top: 1px solid #e0e0e0;
}
.btntel[data-v-18cde87a]:hover {
    background-color: #eee;
}
.itemLista[data-v-18cde87a]:hover {
    cursor: pointer;
}
.q-if[data-v-18cde87a]:not(.q-if-disabled):not(.q-if-error):not(.q-if-warning):before,
  .q-if.q-if-readonly[data-v-18cde87a]:not(.q-if-error):not(.q-if-warning):after {
    color: #ccc;
}
@media (min-width: 990px) {
.itemLista:hover .morevert[data-v-18cde87a] {
      display: none;
}
.itemLista .q-item-section-right[data-v-18cde87a] {
      min-width: 105px;
}
.itemLista:hover .buttons[data-v-18cde87a] {
      display: inline-block;
}
.mydrawerFL[data-v-18cde87a] {
      z-index: 998 !important;
}
.mydrawerL[data-v-18cde87a] {
      z-index: 997 !important;
}
}
.mydrawerL .background[data-v-18cde87a] {
    min-height: 100%;
    background: linear-gradient(360deg, #0397ef, #01579b);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0397ef', endColorstr='#01578b', GradientType=1);
    /* IE6-9 */
}

