/*conf padrão*/
    @font-face
    {
        font-family: "Lato";
        src: url(/font/Lato-Medium.ttf);
    }

    body
    {
        font-family: Lato, sans-serif;
    }

    .container
    {
        width: 794px;
        height: 230px;
        color: rgb(25,25,25);
    }

    table, tr, td
    {
        padding: 0px;
        margin: 0px;
    }

    h1, h2, h3, h4, h5, h6
    {
        padding: 0px;
        margin: 0px;
    }

    p
    {
        font-size: 11px;
        padding: 0px;
        margin: 0px;
    }


    /*bold*/
    .bold-600
    {
        font-weight: 600;
    }
    .bold-700
    {
        font-weight: 700;
    }
    .bold-800
    {
        font-weight: 800;
    }
    .bold-900
    {
        font-weight: 900;
    }


    /*flutuar*/
    .float-left
    {
        float: left;
    }
    .float-right
    {
        float: right;
    }


    /*alinhamento de testo*/
    .text-align-left
    {
        text-align: left;
    }
    .text-align-center
    {
        text-align: center;
    }
    .text-align-right
    {
        text-align: right;
    }


    /*divisão de conteudo*/
    .linha-divisoria
    {
        padding-bottom: 3px;
        border-bottom: 1px solid rgb(210,210,210);
    }


    /*titulo do relatório*/
    .titulo-relatorio
    {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 5px;
        background-color: rgb(225,225,225);
        text-align: center;
    }


    /*titulo da seção (ex: via cliente)*/
    .titulo-sessao
    {
        text-align: center;
        background-color: rgb(225,225,225);
        padding-top: 4px;
        padding-bottom: 4px;
    }


    /*config tabela*/
    .content-table
    {
        width: 100%;
        margin-top: 8px;
        padding-left: 2px;
        padding-right: 2px;
    }
        .sub-content-table
        {
            width: 100%;
        }

        .box-full { border: 1px solid rgb(210,210,210); }
        .box-top { border-top: 1px solid rgb(210,210,210); }
        .box-bottom { border-bottom: 1px solid rgb(210,210,210); }
        .box-left { border-left: 1px solid rgb(210,210,210); }
        .box-right { border-right: 1px solid rgb(210,210,210); }

    .desc-valor
    {
        width: 80px;
        text-align: right;
    }
        .cont-valor
        {
            text-align: right;
            width: 80px;
        }

    .desc-qtd
    {
        width: 30px;
        text-align: center;
    }
        .cont-qtd
        {
            width: 30px;
            text-align: center;
        }


    /*OS datas venda-previsao-entrega*/
    .data
    {
        width: 100%;
        text-align: center;
    }


    /*header loja*/
    .loja-content
    {
        width: 100%;
    }
        .logo-loja
        {
            width: 170px;
            height: 75px;
        }


    /*header cliente*/
    .cliente-content
    {
        width: 100%;
    }
        .dados-cliente
        {
            padding-left: 6px;
            padding-right: 2px;
        }



/*prescrição*/
    .prescricao-oe,
    .prescricao-od
    {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 1px solid rgb(210,210,210);
        border-left: 1px solid rgb(210,210,210);
        border-right: 1px solid rgb(210,210,210);
    }

    .prescricao-oe-title,
    .prescricao-od-title
    {
        text-align: center;
        border-bottom: 1px solid rgb(210,210,210);
        border-left: 1px solid rgb(210,210,210);
        border-right: 1px solid rgb(210,210,210);
    }

    .prescricao-title
    {
        text-align: center;
        border-bottom: 1px solid rgb(210,210,210);
    }

    .prescricao-dist
    {
        text-align: left;
        width: 35px;
        border-right: 1px solid rgb(210,210,210);
    }

    .prescricao-dados
    {
        text-align: right;
    }

    /*tipo de óculos*/
    .prescricao-tipo-oculos
    {
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
        padding: 0px;
        text-align: center;
    }


/*contrato*/
    .assinatura-contrato
    {
        text-align: center;
    }

    .assinatura-contrato p
    {
        width: 300px;
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid black;
    }